table {
  margin: 1rem 2rem;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  border: 1px solid #dee2e6;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

td {
  padding: 0.5rem;
  font-weight: 400;
}

td:first-child {
  font-weight: bold;
  padding: 1rem;
  width: 10%;
}

td:nth-child(2) {
  padding: 1rem;
  font-size: 15px;
  width: 60%;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: center;
}

div[data-legend="active"] {
  display: inline-block;
  background-color: #18a2b8;
  color: #fff;
  width: 8rem;
  border-radius: 5px;
}

div[data-legend="inactive"] {
  display: inline-block;
  background-color: #6d757d;
  color: #fff;
  width: 8rem;
  border-radius: 4px;
}

button[type="button"][data-legend="Leave Mission"] {
  color: red;
  padding: 0.3rem 0.7rem;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

button[type="button"][data-legend="Join Mission"] {
  color: black;
  padding: 0.3rem 0.7rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
